/************
GENERAL: 
***************/

body{
 font-family:'Open Sans', sans-serif; 
}

/************
Heading: 
***************/
header{
  float:left;
  margin:0 0 30 0;
  padding: 20px;
  width:100%
}

#title{
  font-family:'Lobster', cursive;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: .8em;
  color:#111;
}

h2 {
  font-size: .75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/************
Color: 
***************/

/* site body*/
body {
background-color:#fff;
color:#999;
}


header {
  background:#4c9aaa;
  border-color: #599a68
}

nav{
  background:#599a68;
}

h1, h2{
  color: #111;
  text-align:center;
}

}
nav a, nav a:visited {
  color:#fff
}

/* select nav link */
nav a.selected, nav a:hover {
      color: #1243c4;
    }

p{
  color:#fff;
}


/*************
Stylize the guess button
***************/
button{
    background-color: #ccc;
    border-radius: 5px;
    border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 1.5em;
    text-decoration: none;
    cursor:pointer;
    border:none;
}



button:hover {
    border: none;
    background:#4c9aaa;
    box-shadow: 0px 0px 1px #777;
}


button {
  display:inline-block;
  text-align: center;
  margin:0 auto;
}

section {
  text-align: center;
}

input{
  text-align: :center;

}

p {
  text-align: center;
  display: inline-block;
}

#guessOuput{
  color: #777;
}

#hotOutput{
  color: #777;
}

#guess_input{
  font-size: .5em;
}

